extends ../blog.layout.pug

block variables
    - var title = 'Мой блог';

block scripts
    script(src='about.bundle.js')

block content
    -
        var articles = [
        {
        title: 'Самое важное в SASS',
        date: '22 ноября 2016',
        text: 'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.\n'+
            'Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
        },
        {
        title: 'Приёмы в вёрстке, без которых не обходится ни один сайт',
        date: '13 ноября 2016',
        text: 'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.\n'+
        'Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
        },
        {
        title: 'Самый необходимый набор Gulp плагинов',
        date: '20 октября 2016',
        text: 'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.\n'+
        'Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
        }
        ];
    include ../common/hero
    section.section.works-head
        svg(viewbox="0 0 1000 110" preserveAspectRatio="none").works-head__triangle.works-head__triangle_left
            polygon(points="0,0 0,110 1000, 110")
        svg(viewbox="0 0 1000 110" preserveAspectRatio="none").works-head__triangle.works-head__triangle_right
            polygon(points="0,110 1000,110 1000,0")
    section.blog__content
        .blog__column.blog__column_left
            ul.blog__content-list
                each article, ndx in articles
                    li(class='blog__content-item' + ((ndx === 0) ? ' blog__content-item_active' : ``) )
                        a(href="#").blog__content-link #{article.title}

        .blog__column.blog__column_right
            ul.blog__artcle-list
                each article in articles
                    li.blog__article-item
                        h2.blog__article-title #{article.title}
                        .blog__article-data #{article.date}
                        p #{article.text}
