
<div class="wrapper">
  <div class="block">one</div>
  <div class="index">0</div>
  <div class="leng">3</div>
</div>
<div class="wrapper">
  <div class="block">two</div>
  <div class="index">1</div>
  <div class="leng">3</div>
</div>
<div class="wrapper">
  <div class="block">three</div>
  <div class="index">2</div>
  <div class="leng">3</div>
</div>
<div class="wrapper">
  <div class="block">4</div>
  <div class="index">0</div>
  <div class="leng">3</div>
</div>
<div class="wrapper">
  <div class="block">5</div>
  <div class="index">1</div>
  <div class="leng">3</div>
</div>
<div class="wrapper">
  <div class="block">6</div>
  <div class="index">2</div>
  <div class="leng">3</div>
</div>
<div class="obj">
  <div class="link">Тут будет <a href="#">ссылка1</a></div>
  <div class="title">Условие НЕ отработало</div>
</div>
<div class="obj">
  <div class="link">Тут будет <a href="#">ссылка2</a></div>
  <div class="title" data-title="prop2">Отработало условие</div>
</div>
<div class="obj">
  <div class="link">Тут будет <a href="#">ссылка3</a></div>
  <div class="title">Условие НЕ отработало</div>
</div>
<div class="obj">
  <div class="link">Тут будет <a href="#">ссылка1</a></div>
  <div class="title" data-title="prop1">Case one</div>
</div>
<div class="obj">
  <div class="link">Тут будет <a href="#">ссылка2</a></div>
  <title data-title="prop2">Case two</title>
</div>
<div class="obj">
  <div class="link">Тут будет <a href="#">ссылка3</a></div>
  <title data-title="prop3">Case three</title>
</div>