.feedback
    form(action="" method="post" name="form").feedback__form
        .block-title.block-title_form Связаться со мной
        input(type="text" placeholder="Имя" name="name").feedback__input
        input(type="email" placeholder="E-mail" name="E-mail").feedback__input
        textarea(placeholder="Ваше сообщение" name="mes").feedback__textarea
        .feedback__buttons
            button(type="submit" value="Отправить").feedback__button.feedback__button_submit Отправить
            button(type="reset" value="Очистить").feedback__button.feedback__button_reset Очитстить