section.reviews
    .section-title.section-title_reviews(style="background-image: url('./assets/images/reviews/reviews_header_bg.png')") Что обо мне говорят
    ul.reviews__list
        li.reviews__item
            .reviews__item-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей
            .reviews__item-user
                .reviews__user-avatar
                    img(src="./assets/images/reviews/reviews_user_avatar.jpg").reviews__user-avatar-pic
                .reviews__user-desc
                    .reviews__user-name Ковальчук Дмитрий
                    .reviews__user-prof Основатель школы LoftSchool
        li.reviews__item
            .reviews__item-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей
            .reviews__item-user
                .reviews__user-avatar
                    img(src="./assets/images/reviews/reviews_user_avatar.jpg").reviews__user-avatar-pic
                .reviews__user-desc
                    .reviews__user-name Ковальчук Дмитрий
                    .reviews__user-prof Основатель школы LoftSchool
    include form_feedback