.nav-menu {
  padding: 25px 0;
}

.nav-menu__item {
  display: inline-block;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.nav-menu__link {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.nav-menu_auth {
  padding: 0;
}

.nav-menu__item_auth {
  border-right: 2px solid rgba(#fff, .5);
  margin-right: 0;
  &:last-child {
    border-right: none;
  }
}

.nav-menu__link_auth {
  padding: 15px 40px;
  display: inline-block;
  background: $green;
  transition: .3s;
  &:last-child {
    padding-right: 45px;
  }
  &:hover{
    background: $greenHover;
  }
}